


body.center
{
  margin: 0px;
  background-image: url("images/unnamed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: "Helvetica";
  color: white;
}

.blah
{
  height: 100%;
  /* overflow: hidden; */

  bottom: 0%;

}
img
{
  filter: blur(5px);
  bottom: 0%;

  height: 1000px;
  width: 100%;
}
