


body {
  background: #2d2d2d;
}
.box
{
  padding: 5em;
}
.Iam {
  padding: 2em 0em;
  font: normal 20px/30px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-left: 3em;

}
.Iam: b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 30px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move  9s;
   -moz-animation:move  9s;
    -ms-animation:move  9s;
     -o-animation:move  9s;
        animation:move  9s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:3s;
   -moz-animation-delay:3s;
    -ms-animation-delay:3s;
     -o-animation-delay:3s;
        animation-delay:3s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -30px; }
40% { top: -30px; }
60% { top: -60px; }
80% { top: -90px; }

}

@-webkit-keyframes move {
  0%  { top: 0px; }
  20% { top: -30px; }
  40% { top: -30px; }
  60% { top: -60px; }
  80% { top: -90px; }

  }
@-moz-keyframes move {
  0%  { top: 0px; }
  20% { top: -30px; }
  40% { top: -30px; }
  60% { top: -60px; }
  80% { top: -90px; }

  }
@-o-keyframes move {
  0%  { top: 0px; }
  20% { top: -30px; }
  40% { top: -30px; }
  60% { top: -60px; }
  80% { top: -90px; }

  }
@keyframes move {
  0%  { top: 0px; }
  20% { top: -30px; }
  40% { top: -30px; }
  60% { top: -60px; }
  80% { top: -90px; }

  }
