
iframe
{
  position: relative;
  z-index: 100;
}

body.center
{
  margin: 0px;
  /* background-image: url("images/unnamed.jpg"); */
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  font-family: "Helvetica";
  color: white;
}
nav
{
  z-index: 2;
}
.headGrid
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


div.cell
{
  grid-column: 1 / 2;
  height: 16px;


}
div.time
{
  grid-column: 2 / 3;
  height: 16px;

}
div.battery
{
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 16px;
  grid-column: 3 / 4;
  text-align: right;

}
img.battery
{
  height: 100%;
  margin-right: 2px;
}
.battery p
{
  margin: 0px;
}
.center
{
  /* position: relative; */
  background: #83b0ab;
  /* width: 256px;
  height:455px; */
  /* margin: 58px auto; */
  overflow: hidden;
}
.blank
{
  position: relative;
  background: #262626;
  overflow: hidden;
}


.button
{
  background-size: cover;
  grid-template-rows:  3.5em 3.5em 3.5em 3.5em;
  grid-template-columns: 3.5em 3.5em 3.5em 3.5em;
  display: grid;
  justify-content: space-around;
  margin: 0px opx;
  margin-right: 6px;
  height: 3.5em;

}
div.btext
{
  font-size: 0.7em;
  display: grid;
  grid-template-columns: 3.5em 3.5em 3.5em 3.5em;
  grid-template-rows:  1.5em;
  justify-content: space-around;
  margin-top: 0px;
  margin-right: 3px;
  margin-left: 3px;
}
div.btext p
{
  margin:0px;
}
a img.img
{
  opacity: 1;
  width: 2.4em;
  margin-top
}
.txt
{
  text-align: center;
  opacity: 1;
}
.button a
{
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 0px;
  /* padding-top: 0.5em; */
  width: 3.1em;
  height: 3.1em;

}
.fb
{
  padding-top: 0.70em;
  padding-left: 0.70em;
}
.img.notes
{
  width: 116%;
  height: 116%;
  margin-top: -4px;
  margin-left: -4px;

}
.icon
{
  padding: 5.5px;
}
.iconSVG
{
  padding-top: 0.25em;
}
.one
{
  background: black;
  color: white;
  z-index: 4;
}
.two
{
  background: black;
  color: white;
  z-index: 4;
}
.three
{
  background: white;
  color: white;
  z-index: 4;
}
.four
{
  background: #31518c;
  color: white;
  z-index: 4;
}
.five
{
  background: rgb(51, 51, 51);
  color: white;
  z-index: 4;
}
.six
{
  background: black;
  color: white;
  z-index: 4;
}


#bottom-bar
{
  position: fixed;
  bottom: 1%;
  height: 4em;
  width: 100%;
  display: block;
}
#bottom-bar-blur
{
  display: block;

  position: fixed;
  bottom: 0%;
  height: 4.5em;
  width: 100%;
  overflow:   hidden;
}
#bottom-bar-blur.blurred
{
  filter: blur(8px) brightness(300%);
  position: absolute;
  height: 455px;
  width: 100%;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}

.lportfolio
{
  background: rgb(51, 51, 51);
  color: rgb(255, 255, 179);
  z-index: 4;
}
.labout
{
  background: #26cf42;
  color: white;
  z-index: 4;
}
.lcontact
{
  background: #26cf42;
  color: white;
  z-index: 4;
}
.lresume
{
  background: #26cf42;
  color: white;
  z-index: 4;
}



@keyframes example {
0% {
    transform: rotateY(0deg) scale(1, 1);
    text-shadow:    1px 0 #ccc,
                    2px 0 #ccc,
                    3px 0 #ccc,
                    4px 0 #c9c9c9,
                    5px 0 #c9c9c9,
                    6px 0 #c9c9c9,
                    7px 0 #bbb,
                    8px 0 #bbb,
                    9px 0 #bbb,
                    10px 0 #b9b9b9,
                   11px 0 #b9b9b9,
                    12px 0 #b9b9b9,


                   0 6px 1px rgba(0,0,0,.1),
                   0 0 5px rgba(0,0,0,.1),
                   0 1px 3px rgba(0,0,0,.3),
                   0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.25),
                   0 10px 10px rgba(0,0,0,.2),
                   0 20px 20px rgba(0,0,0,.15);
   }
   /* 50% {
       transform: rotateY(45deg) scale(1.5)
      } */
    100% {
          transform: rotateY(45deg) scale(1.5, 1);
          text-shadow:    -1px 0 #ccc,
                          -2px 0 #ccc,
                          -3px 0 #ccc,
                          -4px 0 #c9c9c9,
                          -5px 0 #c9c9c9,
                          -6px 0 #c9c9c9,
                          -7px 0 #bbb,
                          -8px 0 #bbb,
                          -9px 0 #bbb,
                          -10px 0 #b9b9b9,
                          -11px 0 #b9b9b9,
                          -12px 0 #b9b9b9,


                         0 6px 1px rgba(0,0,0,.1),
                         0 0 5px rgba(0,0,0,.1),
                         0 1px 3px rgba(0,0,0,.3),
                         0 3px 5px rgba(0,0,0,.2),
                         0 5px 10px rgba(0,0,0,.25),
                         0 10px 10px rgba(0,0,0,.2),
                         0 20px 20px rgba(0,0,0,.15);
         }
}

body
{
  background-color: black;
}
.gridt
{
  margin-top: 60px;
  /* height: 50px; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* margin-left: -170px; */

}
.logo
{
  text-align: center;
  height: 200px;
  grid-column: 2/3;

}
