


body
{
  margin: 0px;
  font-family: "Helvetica";
  color: white;
  background: white;
  overflow: hidden;
  background-image: url(images/stars2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* This is for the time and battery at the top */
.headGrid
{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  color: black;
  margin-bottom: -10px;
  width: 100%;
  color: white;
}


div.cell
{
  grid-column: 1 / 2;
  height: 16px;


}
div.time
{
  grid-column: 5 / 6;
  height: 16px;
  font-size: 10px;
  font-weight: bolder;
  margin-top: 3px;
}
.percent
{
  grid-column: 8/9;
  height: 16px;
}
.percent p
{
  text-align: right;
  margin: 0;
  margin-top: 3px;

  /* margin-right: -12px; */
  height: 100%;
  font-size: 10px;
}

.battery
{
  height: 16px;
  grid-column: 9/10;
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* margin-right: 2px; */
}

.bb
{
  padding: 2px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 0;
  height: 6px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  position: relative;
  z-index: 10;
}
.bb::after
{
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 1px;
  z-index: -1;
  top: 1px;
  bottom: 1px;
  right: 1px;
  left: 1px;
}
.be
{
  width: 1.5px;
  height: 4px;
  background-color: lightgrey;
  margin-top: 6px;
  margin-left: 0;
  margin-right: 4px;
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  columns: 2/3;
}


/* This is the styling for the navbar buttons (the icon/links) */
.button
{
  background-size: cover;
  grid-template-rows:  3.5em 3.5em 3.5em 3.5em;
  grid-template-columns: 3.5em 3.5em 3.5em 3.5em;
  display: grid;
  justify-content: space-around;
  margin: 0px opx;
  margin-right: 6px;
  height: 3.5em;

}
/* This is the styling for the text underneath the icon/links */
div.btext
{
  font-size: 0.7em;
  display: grid;
  grid-template-columns: 3.5em 3.5em 3.5em 3.5em;
  grid-template-rows:  1.5em;
  justify-content: space-around;
  margin-top: 0px;
  margin-right: 3px;
  margin-left: 3px;
  align-items: center;

}
div.btext p
{
  margin:0px;
}
.txt
{
  text-align: center;
  opacity: 1;
  z-index: 100;
}
/* This is for the image sizes of the logos in the buttons  */
a img.img
{
  opacity: 1;
  width: 2.4em;
  margin-top
}
/* This is the styling for all the buttons */
.button a
{
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 0px;
  width: 3.1em;
  height: 3.1em;

}
/*  Styling for special button/icons (facebook/notes)*/
.fb
{
  padding-top: 0.70em;
  padding-left: 0.70em;
}
.img.notes
{
  width: 116%;
  height: 116%;
  margin-top: -4px;
  margin-left: -4px;

}
/* THis centers the images in the buttons */
.icon
{
  padding: 5.5px;
}
.iconSVG
{
  padding-top: 0.25em;
  padding-left: 0.25em;
}
/* Coloring for indivdual buttons */
.one
{
  background: rgb(51, 51, 51);
  color: white;
}
.two
{
  background: #0077b5;
  color: white;
}
.three
{
  background: white;
  color: white;
}
.four
{
  background: #31518c;
  color: white;
}

/* This is the styling for the LOGO */
.logo
{
  text-align: center;
  height: 200px;
}
.logo img
{
  width: 10rem;
  height: 10rem;
  margin-top: 0rem;
  margin-left: 0rem;
  border: none;
  text-align: center;
  grid-column: 2/3;

}

/* Bottom menu and blur effects */
#bottom-bar-blur
{
  display: block;
  position: fixed;
  bottom: 0%;
  height: 4.5em;
  width: 100%;
  overflow:   hidden;
}
.blurred
{
  filter: blur(8px) brightness(200%);
  position: absolute;
  height: 455px;
  width: 150%;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}

.lportfolio
{
  background: rgb(51, 51, 51);
  color: rgb(255, 255, 179);
  z-index: 4;
}
.labout
{
  background: #26cf42;
  color: white;
  z-index: 4;
}
.lcontact
{
  background: #26cf42;
  color: white;
  z-index: 4;
}
.lresume
{
  background: #26cf42;
  color: white;
  z-index: 4;
}
